<h1>Novo data the agenda</h1>

<form class="form-horizontal" role="form" action="/patients/<%= model.id %>" method="post">
	<div class="form-group">
		<label class="col-sm-2 control-label">Dia da semana:</label>
		<div class="col-sm-10">
			{{week_select_to 0 "name='day' class='form-control' required"}}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Intervalo:</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="interval" value="{{format_t interval}}" pattern="^[0-9]{2}:[0-9]{2}$" placeholder="00:00" required />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Tempo Inicio:</label>
		<div class="col-sm-10">
			<input class="form-control" type="time" name="start" required />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Tempo final:</label>
		<div class="col-sm-10">
			<input class="form-control" type="time" name="stop" required />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Tem extra?</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="extra" value="{{extra}}" list="optionextra" required />
		</div>

		<datalist id="optionextra">
			<option value="Infinito" />
			<option value="Não tem" />
			<option value="1" />
			<option value="2" />
			<option value="3" />
			<option value="4" />
			<option value="5" />
		</datalist>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Status:</label>
		<div class="col-sm-10">
			{{status_select_to 0 "name='status' class='form-control' required"}}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Nome do Doutor:</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" name="doctor" required />
		</div>
	</div>

	 <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="submit" id="submit" class="btn btn-primary">Salvar</button>
            <button type="button" name="cancel" id="cancel" class="btn btn-default buttonCancel">Cancelar</button>
        </div>
    </div>
</form>