<nav id="content-header" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Healfy</a>
        </div>
    </div>
</nav>

<div class="col-xs-6 col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li id="home">
            <a href="#">Home</a>
        </li>
        <li id="affiliates">
            <a href="#affiliates">Filiais</a>
        </li>
        <li id="providers">
            <a href="#providers">Profissionais</a>
        </li>
        <li id="patients">
            <a href="#patients">Pacientes</a>
        </li>
    </ul>
</div>

<div id="content-geral">
</div>