<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="images/icons/default_thumb_64x64.gif" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{name}}</h4>
            <a href="#"><span class="glyphicon glyphicon-remove patientRemove"></span></a>
            <div>Analista de Sistemas</div>
            <div>Lives in Salvador, Bahia, Brazil</div>
            <div>Single · Male · 27 years old</div>
        </div>
    </li>
</ul>