<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Healfy</a>
        </div>

        <!-- Login e Cadastra-se (Estilo Paypal)
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="E-mail">
                <input type="text" class="form-control input-sm" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-sm btn-default">Log in</button>
            <button type="submit" class="btn btn-sm btn-primary">Criar conta</button>
        </form>
        -->

    </div><!-- /.container-fluid -->
</nav>


<div class="col-xs-6 col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#">Filiais</a>
        </li>
        <li>
            <a href="#">Profissionais</a>
        </li>
        <li class="active">
            <a href="http://localhost:3000/">Pacientes</a>
        </li>
    </ul>
</div>


<div class="col-xs-12 col-md-10">
    <h1>Pacientes</h1>

    <form class="form-horizontal" role="form" action="/patients" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Nome:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" placeholder="Nome" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="cpf">CPF:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="rg">RG:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="rg" id="rg" placeholder="RG" value="">
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="birthday">Data de nascimento:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="birthday" id="birthday" placeholder="Data de nascimento" value="">
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Sexo:</label>
            <div class="col-sm-10">
                <select class="form-control" name="sex">
                    <option selected value=""></option>
                    <option value="1">Masculino</option>
                    <option value="2">Femino</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="occupation">Profissão:</label>
            <div class="col-sm-10">
                <select class="form-control" name="occupation">
                    <option selected></option>
                    <option value="1">Analista de Sistemas</option>
                    <option value="2">Advogado</option>
                    <option value="3">Administrador</option>
                </select>
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="covenants">Convênios:</label>
            <div class="col-sm-10">
                <select class="form-control covenants" name="covenants">
                    <option selected value=""></option>
                    <option value="1">Bradesco</option>
                    <option value="2">Sul América</option>
                    <option value="3">Promédica</option>
                </select>
            </div>
        </div>    

        <div class="form-group" id="container_add_covenants">
            <label class="col-sm-2 control-label" for="add_covenants"></label>
            <div class="col-sm-10">
                <a href="javascript:;" id="add_covenants">Adicionar convênio</a>
            </div>
        </div>                    

        <div class="form-group">
            <label class="col-sm-2 control-label" for="street">CEP:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" value="">
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="street">Endereço:</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="street" id="street" placeholder="Endereço"></textarea>                
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="number">Número:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="number" id="number" placeholder="Número" value="">
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="complement">Complemento:</label>
            <div class="col-sm-10">                
                <textarea class="form-control" rows="2" name="complement" id="complement" placeholder="Complemento"></textarea>    
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="district">Bairro:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="district" id="district" placeholder="Bairro" value="">
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="state">UF:</label>
            <div class="col-sm-10">
                <select class="form-control" name="state">
                    <option selected value=""></option>
                    <option value="1">BA</option>
                    <option value="2">RJ</option>
                    <option value="3">SP</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="city">Cidade:</label>
            <div class="col-sm-10">
                <select class="form-control" name="city">
                    <option selected value=""></option>
                    <option value="1">Salvador</option>
                    <option value="2">Rio de Janeiro</option>
                    <option value="3">São Paulo</option>
                </select>
            </div>
        </div>        

        <div class="form-group containerTel">
            <label class="col-sm-2 control-label" for="telephone">Telefone:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control telephone" name="telephone" placeholder="Telefone" value="">
                <span class="containerTrash">
                    <a href="#"><img src="images/icons/trash.png" class="trash" data-toggle="tooltip" data-placement="bottom" title="Excluir"></a>
                </span>
            </div>
        </div>

        <div class="form-group" id="container_add_telephone">
            <label class="col-sm-2 control-label" for="add_telephone"></label>
            <div class="col-sm-10">
                <a href="javascript:;" id="add_telephone">Adicionar telefone</a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">E-mail:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="email_confirmacao">Confirme o E-mail:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email_confirmacao" id="email_confirmacao" placeholder="Confirme o E-mail" value="">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="senha">Senha:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"name="senha" id="senha" placeholder="Senha" value="">
            </div>
        </div>        

        <div class="form-group">
            <label class="col-sm-2 control-label" for="senha_confirmacao">Confirme a senha:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="senha_confirmacao" id="senha_confirmacao" placeholder="Confirme a senha" value="">
            </div>
        </div>  

        <!-- Foto do paciente
        <div class="form-group">
            <label class="col-sm-2 control-label" for="foto">Foto:</label>
            <div class="col-sm-10">
                <input type="file" id="foto" name="foto" value="">
            </div>
        </div>       
        -->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required name="termo" id="termo" value="1"> Aceito o <a href="javascript:;">termo de uso.</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" name="submit" id="submit" class="btn btn-primary">Salvar</button>
                <button type="button" name="cancel" id="cancel" class="btn btn-default buttonCancel">Cancelar</button>
            </div>
        </div>
    </form>
</div>