<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="shortcut icon" href="favicon.ico" />

        <link rel="stylesheet" href="styles/bootstrap.css" />
        <link rel="stylesheet" href="styles/bootstrap-theme.css" />
        <link rel="stylesheet" href="styles/toastr.css" />
        <link rel="stylesheet" href="styles/style.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>Healfy</title>       
    </head>
    <body class="container-fluid" manifest="cache.manifest">
        <script data-main="scripts/main" src="scripts/vendors/jquery-1.11.0.js"></script>
        <script type='text/javascript'>
            var jQuery_v1x = $.noConflict();
        </script>
        <script data-main="scripts/main" src="scripts/vendors/jquery.maskedinput.js"></script>
        <script data-main="scripts/main" src="scripts/vendors/jquery.js"></script>
        <script data-main="scripts/main" src="scripts/vendors/require.js"></script>
        <script data-main="scripts/main" src="scripts/vendors/bootstrap.js"></script>












<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Healfy</a>
  </div>

  <!-- Login e Cadastra-se (Estilo Paypal)
  <form class="navbar-form navbar-right">
      <div class="form-group">
          <input type="text" class="form-control input-sm" placeholder="E-mail">
          <input type="text" class="form-control input-sm" placeholder="Senha">
      </div>
      <button type="submit" class="btn btn-sm btn-default">Log in</button>
      <button type="submit" class="btn btn-sm btn-primary">Criar conta</button>
  </form>
  -->

</div><!-- /.container-fluid -->
</nav>


<div class="col-xs-6 col-md-2">
<ul class="nav nav-pills nav-stacked">
    <li><a href="#">Filiais</a></li>
    <li><a href="#">Profissionais</a></li>
    <li class="active"><a href="http://localhost:3000/">Pacientes</a></li>
</ul>
</div>


<div class="col-xs-12 col-md-10">

<h1>Pacientes</h1>

<form class="form-horizontal" role="form" action="/patients/<%= model.id %>" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Nome:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="name" placeholder="Nome" value="{{name}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="cpf">CPF:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF" value="{{cpf}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="rg">RG:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="rg" id="rg" placeholder="RG" value="{{rg}}">
        </div>
    </div>        

    <div class="form-group">
        <label class="col-sm-2 control-label" for="birthday">Nascimento:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="birthday" id="birthday" placeholder="Nascimento" value="{{birthday}}">
        </div>
    </div>        

    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Sexo:</label>
        <div class="col-sm-10">
            <select class="form-control" name="sex">
                <option selected value=""></option>
                <option value="1">Masculino</option>
                <option value="2">Femino</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="occupation">Profissão:</label>
        <div class="col-sm-10">
            <select class="form-control" name="occupation">
                <option selected></option>
                <option value="1">Analista de Sistemas</option>
                <option value="2">Advogado</option>
                <option value="3">Administrador</option>
            </select>
        </div>
    </div>        

    <div class="form-group">
        <label class="col-sm-2 control-label" for="covenants">Convênios:</label>
        <div class="col-sm-10">
            <select class="form-control covenants" name="covenants">
                <option selected value=""></option>
                <option value="1">Bradesco</option>
                <option value="2">Sul América</option>
                <option value="3">Promédica</option>
            </select>
        </div>
    </div>    

    <div class="form-group" id="container_add_covenants">
        <label class="col-sm-2 control-label" for="add_covenants"></label>
        <div class="col-sm-10">
            <a href="#" id="add_covenants">Adicionar convênio</a>
        </div>
    </div>                    

    <div class="form-group">
        <label class="col-sm-2 control-label" for="street">CEP:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" value="{{cep}}">
        </div>
    </div>        

    <div class="form-group">
        <label class="col-sm-2 control-label" for="street">Endereço:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="street" id="street" placeholder="Endereço" value="{{street}}">
        </div>
    </div>        

    <div class="form-group">
        <label class="col-sm-2 control-label" for="number">Número:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="number" id="number" placeholder="Número" value="{{number}}">
        </div>
    </div>        


    <div class="form-group">
        <label class="col-sm-2 control-label" for="complement">Complemento:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="complement" id="complement" placeholder="Complemento" value="{{complement}}">
        </div>
    </div>        

    <div class="form-group">
        <label class="col-sm-2 control-label" for="district">Bairro:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="district" id="district" placeholder="Bairro" value="{{district}}">
        </div>
    </div>        

    <div class="form-group">
        <label class="col-sm-2 control-label" for="state">UF:</label>
        <div class="col-sm-10">
            <select class="form-control" name="state">
                <option selected value=""></option>
                <option value="1">BA</option>
                <option value="2">RJ</option>
                <option value="3">SP</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="city">Cidade:</label>
        <div class="col-sm-10">
            <select class="form-control" name="city">
                <option selected value=""></option>
                <option value="1">Salvador</option>
                <option value="2">Rio de Janeiro</option>
                <option value="3">São Paulo</option>
            </select>
        </div>
    </div>        


    <div class="form-group">
        <label class="col-sm-2 control-label" for="telephone">Telefone:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control telephone" name="telephone" id="telephone" placeholder="Telefone" value="{{telephone}}">
        </div>
    </div>

    <div class="form-group" id="container_add_telephone">
        <label class="col-sm-2 control-label" for="add_telephone"></label>
        <div class="col-sm-10">
            <a href="#" id="add_telephone">Adicionar telefone</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="email">E-mail:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" value="{{email}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="email_confirmacao">Confirmação do E-mail:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email_confirmacao" id="email_confirmacao" placeholder="E-mail" value="{{email}}">
        </div>
    </div>

    <!-- Foto do paciente
    <div class="form-group">
        <label class="col-sm-2 control-label" for="foto">Foto:</label>
        <div class="col-sm-10">
            <input type="file" id="foto" name="foto" value="">
        </div>
    </div>       
    -->

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="submit" id="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>

</div>






<script>
    jQuery_v1x( document ).ready(function() {
        // Mask
        jQuery_v1x("#cpf").mask("999.999.999-99");
        jQuery_v1x("#cep").mask("99.999-999");
        jQuery_v1x(".telephone").mask("(99).9999-9999");
    });

    $( document ).ready(function() {
        // Focus first input
        $("#name").focus();


        $("#add_covenants").click(function(){                         
            var html = '<div class="form-group"><label class="col-sm-2 control-label" for="covenants">Convênios:</label><div class="col-sm-10"><select class="form-control covenants" name="covenants"><option selected value=""></option><option value="1">Bradesco</option><option value="2">Sul América</option><option value="3">Promédica</option></select></div></div>';

            $("#container_add_covenants").before(html);

            linkAddField("container_add_covenants", "covenants");
        });



        $("#add_telephone").click(function(){
            var html = '<div class="form-group"><label class="col-sm-2 control-label" for="telephone">Telefone:</label><div class="col-sm-10"><input type="text" class="form-control telephone" placeholder="Telefone" value=""></div></div>';

            $("#container_add_telephone").before(html);

            linkAddField("container_add_telephone", "telephone");


            $(".telephone").mask("(99).9999-9999");
        });        
    });

    // Link "Adicionar telefone" dinamico, só é exibido se o último campo estiver com valor.
    function linkAddField(container, field)
    {
        $( "#" + container ).hide();
        $( "." + field + ":last" ).change(function(){
            if ($( "." + field + ":last" ).val() == "")
            {
                $( "#" + container ).hide();
            }
            else
            {
                $( "#" + container ).show();
            }    
        })              
    }
</script>




    
    
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXX-X']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>