body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

th {
    text-align:center; 
    vertical-align:middle;
}

.today text {
	fill: red
}

.old text {
	fill: grey
}

.current {
	text-decoration: underline
}

.day {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.day svg {
	margin-left:auto; 
	margin-right: auto;
}

.schedules {
	margin-left: 140px;
	margin-top: 10px;
}

.schedules ul {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	column-count: 3;
	column-gap: 5px;
	list-style: none;
}

.schedules li:before {
    content: "• ";
    color: black; /* or whatever color you prefer */
}

.schedules li.schedule:before {
    content: "• ";
    color: blue; /* or whatever color you prefer */
}

.schedules li.confirmed:before {
    content: "• ";
    color: green; /* or whatever color you prefer */
}

.patient a.cancel {
	display: none;
}

.patient:hover a.cancel {
	display: inline;
}

.patient:hover {
	background: #f1f1f1;
}