body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

th {
    text-align:center; 
    vertical-align:middle;
}

.today text {
	fill: red
}

.old text {
	fill: grey
}

.current {
	text-decoration: underline
}

.day {
	width: 70px;
	height: 70px;
	cursor: pointer;
}

.schedules {
	margin-left: 140px;
	margin-top: 10px;
}

.schedules ul {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	column-count: 3;
	column-gap: 5px;
}

